<section>
    <!-- Navigation link to return to the homepage -->
    <p><strong>Go Back to</strong>&nbsp;&nbsp;<a href="/user/homepage"><strong>Home Page..!</strong></a></p>

    <h2><strong>Change Your Password</strong></h2>

    <!-- Display a message if available (e.g., success or error messages) -->
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>

    <!-- Form for changing the user's password -->
    <form action="/user/change-password" method="post">
        <input type="password" name="oldPassword" placeholder="Enter Old/Current Password" required><br><br>
        <input type="password" name="newPassword" placeholder="Enter New Password" required><br><br>
        <div class="g-recaptcha" data-sitekey="6LdnvXkqAAAAANagydKoO3Sv4zLgRSEeXzrEk_p5"></div><br>

        <!-- Submit button to change password -->
        <button type="submit"><strong>Change Your Password</strong></button>
        <!-- Log out button -->
        <button onclick="signOut()"><strong>Sign Out</strong></button>
    </form>
   
    <!-- Links for user registration and login -->
    <p><strong>Don't have an account?</strong> <a href="/user/signup"><strong>Sign Up</strong></a></p>
    <p><strong>Already have an account?</strong> <a href="/user/signin"><strong>Sign In</strong></a></p>

</section>

<script>
    // Function to handle sign-out
    function signOut() {
        // Perform sign-out logic (e.g., Redirects the user to the sign-out page to log out from the system.)
        window.location.href = "/user/signout";
    }

</script>
