<section>
    <h2><strong>Forgot Password</strong></h2>

    <!-- Display message if available (e.g., success or error messages) -->
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>

    <!-- Form for recovering the user's password -->
    <form action="/user/forgot-password" method="post">
        <input type="email" name="email" placeholder="Enter Your Email" required><br><br>
        <div class="g-recaptcha" data-sitekey="6LdnvXkqAAAAANagydKoO3Sv4zLgRSEeXzrEk_p5"></div><br>

        <!-- Submit button for password reset -->
        <button type="submit"><strong>Forgot Password</strong></button>
    </form>
   
    <!-- Links for signing up or logging in -->
    <p><strong>Don't have an account?</strong> <a href="/user/signup"><strong>Sign Up</strong></a></p>
    <p><strong>Already have an account?</strong> <a href="/user/signin"><strong>Sign In</strong></a></p>

</section>
