<section>
  <h2><strong>Login to Your Account</strong></h2>

  <!-- Display a message if available (e.g., error or success notification) -->
  <% if (message) { %>
  <p><%= message %></p>
  <% } %>

  <!-- User sign-in form -->
  <form action="/user/signin" method="post">
    <input type="email" name="email" placeholder="Enter Your Email" required /><br /><br />
    <input type="password" name="password" placeholder="Enter Your Password" required /><br /><br />
    <div
      class="g-recaptcha"
      data-sitekey="6LdnvXkqAAAAANagydKoO3Sv4zLgRSEeXzrEk_p5"
    ></div>
    <br>

    <!-- Submit button for signing in -->
    <button
      type="submit"
      class="btn btn-light"
    ><strong>
      Sign In</strong>
    </button>
  </form>
  <br />

  <!-- Alternative sign-in options -->
  <a href="/auth/google"><strong>Sign In with Google..</strong></a> &nbsp;&nbsp;

  <!-- Link to reset forgotten password  -->
  <a href="/user/forgot-password"><strong>Forgot Password?</strong></a><br>
  
  <!-- Registration link for new users -->
  <p><strong>Don't have an account?</strong> &nbsp; <a href="/user/signup"><strong>Sign Up</strong></a></p>
</section>
